<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         displayDetailsOnPhpunitDeprecations="true"
         colors="true">
    <testsuites>
        <testsuite name="PyAngelo">
            <directory>./tests/src/PyAngelo</directory>
            <directory>./tests/src/Framework</directory>
            <directory>./tests/views</directory>
            <directory>./tests/di</directory>
        </testsuite>
    </testsuites>
</phpunit>
