a.blog-link:hover {
  text-decoration: none;
}
a.blog-link:hover h3 {
  text-decoration: underline;
}
.label-pyangelo-advice {
    text-decoration:none;
    @include label-variant($label-pyangelo-advice-bg);
}
.label-pyangelo-news {
    text-decoration:none;
    @include label-variant($label-pyangelo-news-bg);
}
.label-coding-tips {
    text-decoration:none;
    @include label-variant($label-coding-tips-bg);
}
.label-coding-ideas {
    text-decoration:none;
    @include label-variant($label-coding-ideas-bg);
}
