a.blog-link:hover {
  text-decoration: none;
}
a.blog-link:hover h3 {
  text-decoration: underline;
}
.label-pyangelo-advice {
    @include label-variant($label-pyangelo-advice-bg);
    text-decoration:none;
}
.label-pyangelo-news {
    @include label-variant($label-pyangelo-news-bg);
    text-decoration:none;
}
.label-coding-tips {
    @include label-variant($label-coding-tips-bg);
    text-decoration:none;
}
.label-coding-ideas {
    @include label-variant($label-coding-ideas-bg);
    text-decoration:none;
}
