#rename {
  text-decoration: none;
  color: #50394c;
}
#rename:hover {
  color: #bc5a45;
}
#canvasBox {
  width: 100%;
  margin: auto;
  padding-top: 10px;
}
#canvas {
    padding: 0px;
    margin: auto;
    display: none;
    background-color: rgba(220, 220, 220, 1);
}
#canvas:focus, #canvas:hover {
  outline: none;
}
#editor {
    border: 2px solid lightgray;
    margin: auto;
    height: 100%;
    width: 100%;
}
.editorTab {
  border-top: 2px #614A5D solid;
  border-right: 2px #614A5D solid;
  border-left: 2px #614A5D solid;
  border-radius: 10px 10px 0 0;
  background-color: #50394c;
  color: white;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
}
.smallButton {
  margin-left: 10px;
  padding: 0 5px;
  border-radius: 100%;
  background: #614A5D;
  color: white;
  text-align: center;
}
.smallButton:hover {
  background: #40283B;
}
.editorTab.current {
  border-top: 2px #EDDE85 solid;
  border-right: 2px #EDDE85 solid;
  border-left: 2px #EDDE85 solid;
  background-color: #FEEF96;
  color: #50394C;
}
.editorTab.current .smallButton {
  background: #DCCD74;
  color: #50394C;
}
.editorTab.current .smallButton:hover {
  background: #BAAB52;
}
#console {
    border: 2px solid lightgray;
    margin: auto;
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 1);
}
#debugButtons, #debugTableWrapper {
    display: none;
}
.appHeading {
  box-sizing: border-box;
  color: #f5910f;
  text-align: center;
  padding: 10px;
  margin-top: 10px 0 0 0;
}
#fork {
  background-color: #50394c;
  color: white;
  margin: 0 10px;
}
.renameSubmit {
  background-color: #008800;
  color: white;
}
.renameCancel {
  background-color: #880000;
  color: white;
}
.dropzone {
  text-align: center;
  width: 80%;
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  background-color: #EEEEEE;
  border: 2px dashed black;
}
#dropzoneImage.highlight {
  border-color: #50394c;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
/* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
input.visually-hidden:focus + label {
  outline: thin dotted;
}
input.visually-hidden:focus-within + label {
  outline: thin dotted;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.sketchCell {
  margin-top: 15px;
}
.ace_gutter-cell.ace_breakpoint{
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 1px 1px #248c46 inset;
}
.grid-cols {
    display: grid;
    min-height: 250px;
    height: 400px;
    grid-template-columns: 1fr 5px 1fr;
    resize: vertical;
    overflow: auto;
}
.gutter-col-1 {
    cursor: col-resize;
    background-color: lightgray;
}
.grid-rows {
    display: grid;
    min-height: 250px;
    height: 600px;
    grid-template-rows: 1fr 5px 1fr;
    resize: vertical;
    overflow: auto;
}
.gutter-row-1 {
    cursor: row-resize;
    background-color: lightgray;
}
